parameters:
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - identifier: return.phpDocType
        - '#PHPDoc tag @param references unknown parameter#'

    # Set rules level
    level: 6