parameters:
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - identifier: parameter.notFound
        - identifier: argument.type

    # Set rules level
    level: 6
